.box {
    position: absolute; /*чтобы не отодвигалось скрытым чекбоксом*/
    opacity: 0; /*прозрачным*/
    outline: none; /*чтобы не было рамочки*/
}

.box+label::before { /*на месте бокса*/
    content: '';  /*Комбинатор '+' выбирает элемент, который находится непосредственно после указанного элемента, если у них общий родитель.*/
    display: inline-block; /**/
    vertical-align: middle; /*выравнивание по вертикальной линии*/
    width: 1em;
    height: 1em;
    border: 1px solid gold;
    border-radius: 0.25em;
    margin: 0em;
    margin-right: 0.5em;
}

.box:checked+label::before {/*на месте бокса, когда он чекд*/
    content: '🗸';
    color:gold;
}
